@import './variables';
@import './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $gray-900;
}

html {
  scroll-behavior: smooth;
}

.App {
  min-height: 100vh;
}

// Custom scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $gray-100;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 5px;
  
  &:hover {
    background: $primary-dark;
  }
}