@import '../../styles/variables';
@import '../../styles/mixins';

.contact {
  padding: $spacing-5xl 0;
  background: $white;
  
  &__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 $spacing-lg;
  }
  
  &__header {
    text-align: center;
  }
  
  &__title {
    font-size: 2.25rem;
    font-weight: 700;
    color: $gray-900;
    margin-bottom: $spacing-lg;
    
    @include respond-to(sm) {
      font-size: 3rem;
    }
  }
  
  &__subtitle {
    font-size: 1.25rem;
    color: $gray-600;
    max-width: 48rem;
    margin: 0 auto;
  }
  
  &__content {
    max-width: 56rem;
    margin: 0 auto;
  }
  
  &__info {
    h3 {
      font-size: 1.5rem;
      font-weight: 700;
      color: $gray-900;
      margin-bottom: $spacing-xl;
    }
  }
  
  &__info-text {
    color: $gray-600;
    margin-bottom: $spacing-2xl;
    line-height: 1.75;
  }
  
  &__details {
    display: flex;
    flex-direction: column;
    gap: $spacing-xl;
  }
  
  &__detail {
    display: flex;
    gap: $spacing-lg;
    align-items: flex-start;
    
    h4 {
      font-weight: 600;
      color: $gray-900;
      font-size: 1.125rem;
      margin-bottom: $spacing-xs;
    }
    
    p {
      color: $gray-600;
      line-height: 1.6;
    }
  }
  
  &__detail-icon {
    background: $primary-lighter;
    padding: $spacing-md;
    border-radius: $border-radius-lg;
    @include flex-center;
    flex-shrink: 0;
    
    svg {
      color: $primary-color;
    }
  }
}